[Desktop Entry]
Name=Thunar File Manager
Name[pl]=Menedżer plików Thunar
Comment=Browse the filesystem with the file manager
Comment[pl]=Przegląda system plików za pomocą menedżera plików
GenericName=File Manager
GenericName[pl]=Menedżer plików
Exec=/usr/bin/focus_or_launch thunar
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
Path=
