[Desktop Entry]
Name=Scheduled tasks
Name[pl]=Zaplanowane zadania
Comment=Manage your system tasks
Comment[pl]=Zarządzanie zadaniami systemowymi
Categories=System;
Icon=/usr/share/pixmaps/gnome-schedule/gnome-schedule.svg
Exec=/usr/bin/gnome-schedule
Type=Application
StartupNotify=true
Terminal=false
X-XFCE-Source=file:///usr/share/applications/gnome-schedule.desktop
