[Desktop Entry]
Name=Vi IMproved
Name[pl]=Poprawiony VI (vim)
Comment=Powerful text editor with scripting functions and macro recorder
Comment[pl]=Edytor vi
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=gvim -f %F
Icon=gvim
Type=Application
Terminal=false
X-XClassHintResName=VIM
Categories=Utility;TextEditor;
X-XFCE-Source=file:///usr/share/applications/gvim.desktop
