[Desktop Entry]
MimeType=text/pro
Name=KiCad
Exec=kicad
Icon=icon_kicad.png
Categories=Development;Engineering;Electronics
Type=Application
Terminal=false
Comment=PCB-Suite
X-XFCE-Source=file:///usr/share/applications/kicad.desktop
