[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/spasz/scripts]
row=3
col=1

[/home/spasz/przecjsiowki.png]
row=5
col=2

[/home/spasz/python]
row=8
col=1

[/home/spasz/Publiczny]
row=0
col=4

[/home/spasz/2015-10-08-110226_1920x1080_scrot.png]
row=0
col=3

[/home/spasz/ysess.py]
row=8
col=2

[/home/spasz/partycjonowanie-bartek.png]
row=0
col=1

[/home/spasz/PH8004800.png]
row=3
col=2

[/home/spasz/TOD]
row=7
col=2

[/home/spasz/Telefony.xls]
row=6
col=2

[/home/spasz/generatorBg.py]
row=5
col=1

[/home/spasz/variables.sh]
row=2
col=1

[/home/spasz/TOD2]
row=4
col=3

[/home/spasz/run.svg]
row=2
col=3

[/home/spasz/Dokumenty]
row=8
col=3

[/home/spasz/Przejscie-LCD-OFO.png]
row=1
col=2

[/home/spasz/start]
row=1
col=3

[/home/spasz/LTspice IV.desktop]
row=0
col=2

[/home/spasz/Programy]
row=2
col=4

[/home/spasz/Pobrane]
row=1
col=4

[/home/spasz/main.conf]
row=3
col=3

[/home/spasz/Pulpit]
row=4
col=1

[/home/spasz/LTspice IV.lnk]
row=6
col=1

[/home/spasz/yakuake.ini]
row=7
col=3

[/home/spasz/linux-installer]
row=1
col=1

[/home/spasz/VirtualBox VMs]
row=5
col=3

[/home/spasz/vimrc.local.copy]
row=6
col=3

[/home/spasz/linux-boot.jpg]
row=7
col=1

[/home/spasz/Evernote.desktop]
row=2
col=2

