[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/spasz/scripts]
row=0
col=0

[/home/spasz/przecjsiowki.png]
row=0
col=0

[/home/spasz/python]
row=0
col=0

[/home/spasz/ysess.py]
row=0
col=0

[/home/spasz/partycjonowanie-bartek.png]
row=0
col=1

[/home/spasz/PH8004800.png]
row=0
col=0

[/home/spasz/TOD]
row=0
col=0

[/home/spasz/Telefony.xls]
row=0
col=0

[/home/spasz/generatorBg.py]
row=0
col=0

[/home/spasz/variables.sh]
row=2
col=1

[/home/spasz/Przejscie-LCD-OFO.png]
row=0
col=0

[/home/spasz/LTspice IV.desktop]
row=0
col=0

[/home/spasz/Pulpit]
row=0
col=0

[/home/spasz/LTspice IV.lnk]
row=0
col=0

[/home/spasz/linux-installer]
row=1
col=1

[/home/spasz/linux-boot.jpg]
row=0
col=0

[/home/spasz/Evernote.desktop]
row=0
col=0

[A86483F26483C194]
row=3
col=0

[01CF816758A27490]
row=1
col=0

[Dysk Dyskietka]
row=5
col=0

[karo]
row=6
col=0

[62CAE0CFCAE0A111]
row=2
col=0

[07cb1d52-3d38-4ba4-883d-39d369dc2009]
row=0
col=0

[TX6-2015-03-27]
row=4
col=0

[Kosz]
row=7
col=0

[/]
row=8
col=0

[/home/spasz]
row=9
col=0

