[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/spasz/Pulpit/Evernote.lnk]
row=4
col=0

[/home/spasz/Pulpit/system.todo]
row=5
col=0

[/home/spasz/Pulpit/Evernote.desktop]
row=3
col=0

[/home/spasz/Pulpit/pacman.todo]
row=0
col=1

[Kosz]
row=0
col=0

[/]
row=1
col=0

[/home/spasz]
row=2
col=0

