[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/spasz/Pulpit/system.todo]
row=0
col=5

[/home/spasz/Pulpit/pacman.todo]
row=0
col=4

[7324636a-7eb5-443b-97a0-b9709fae2eab]
row=1
col=0

[Kosz]
row=2
col=0

[/]
row=0
col=1

[/home/spasz]
row=0
col=0

