[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/spasz/Pulpit/Evernote.lnk]
row=2
col=0

[/home/spasz/Pulpit/system.todo]
row=0
col=5

[/home/spasz/Pulpit/Evernote.desktop]
row=1
col=1

[/home/spasz/Pulpit/pacman.todo]
row=0
col=4

[F329-4E2C]
row=3
col=0

[Kosz]
row=1
col=0

[/]
row=0
col=1

[/home/spasz]
row=0
col=0

